{{{head}}}
{{#book}}

<body>
    <main class="book-layout">
        <header class="book">
            <div>
                <h1>{{title}}<span class="h4">{{author}}</span></h1>
            </div>
            <div>
                {{{available}}}
            </div>
            <p>{{genre}} {{price}}</p>
        </header>
        <aside class="book-image">
            <img src="/images/{{image}}" alt="{{image}}">
        </aside>
        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus elit, pretium euismod convallis
                id,
                posuere sed nulla. Integer sit amet pellentesque mauris, at dictum urna. Maecenas blandit at velit quis
                posuere. Quisque iaculis ut enim in laoreet. Morbi ut varius enim. Donec consequat orci eu enim laoreet,
                sit
                amet cursus lacus blandit. Aenean eleifend odio quis ante eleifend porttitor. Nam mi nibh, sagittis vel
                lacus vitae, gravida vehicula lacus. Curabitur lectus sapien, semper eu lobortis a, tristique id lectus.
                Nullam ac finibus leo. Nullam purus turpis, ultrices vel pharetra eu, faucibus ut nunc. Pellentesque
                eget
                nisl eget nisl dictum pharetra sed at nibh. Maecenas ut turpis ligula. Suspendisse tempor ornare
                consectetur. Fusce lobortis magna magna, id porta eros rutrum in. Suspendisse potenti.
            </p>
            <p>
                Duis vehicula ligula et nisl venenatis pulvinar. Phasellus tristique metus vel ligula interdum, pharetra
                porta diam rhoncus. Mauris nec malesuada diam, vel commodo nunc. Donec non sapien tellus. Morbi in odio
                at
                tellus ultrices finibus quis accumsan purus. Suspendisse fringilla risus quis eleifend tempus. Nunc
                volutpat
                suscipit suscipit. Nunc aliquet in nibh non commodo. Vestibulum rutrum mollis ante quis lobortis. Duis
                lacinia elit eget velit convallis, nec porttitor augue volutpat. Praesent ultrices condimentum nulla, a
                consequat dui vulputate ut. Proin ornare mollis nibh id suscipit.
            </p>
            <p>
                Duis vehicula ligula et nisl venenatis pulvinar. Phasellus tristique metus vel ligula interdum, pharetra
                porta diam rhoncus. Mauris nec malesuada diam, vel commodo nunc. Donec non sapien tellus. Morbi in odio
                at
                tellus ultrices finibus quis accumsan purus. Suspendisse fringilla risus quis eleifend tempus. Nunc
                volutpat
                suscipit suscipit. Nunc aliquet in nibh non commodo. Vestibulum rutrum mollis ante quis lobortis. Duis
                lacinia elit eget velit convallis, nec porttitor augue volutpat. Praesent ultrices condimentum nulla, a
                consequat dui vulputate ut. Proin ornare mollis nibh id suscipit.
            </p>
        </article>
    </main>
    <script src="/js/cart.js"></script>
</body>
{{/book}}
{{{footer}}}
